{{> nav/navigation}}
<div class="container mt-4">
    <p>La siguiente pagina web tiene como finalidad clasificar deportes como:</p>
    <div class="row">   
        <div class="col-6">
            <ul>        
                <li> Baseball</li>
                <li> BasketBall</li>
                <li> Beisball</li>
                <li> Boxeo</li>
                <li> Football</li>
                <li> Tennis</li>
            </ul>
        </div>
        <div class="col-3">
            <ul>        
                <li> Formula 1</li>
                <li> Golf</li>
                <li> Futbol</li>
                <li> Motorcycle Racing</li>
                <li> Natacion</li>
                <li> Volleyball</li>
            </ul>
        </div>
    </div>    
</div>
<div class="container mt-4">
    <h3>Integrantes:</h3>
    <hr>
    <ul>
        <li> Mackleyn Barrezueta A.</li>
        <li> Humberto Correa R.</li>
        <li> Jean Apolo Y.</li>
        <li> Jesus Quizpe G.</li>
    </ul>
</div>
